/**************
***************
    DEVICES
***************
***************/
/*
    small devices => max-width: 614px
    medium devices => min-width: 615px, max-width: 979px
    big devices => min-width: 980px

    navigation bar minimized => max-width: 700px
    small height => max-width: 510px
*/

html {
    --titleText: black;
    --mainText: rgb(32, 32, 32);
    --accentText: #1b849b;

    --mainColor: white;
    --secondaryColor: #e2e2e2;
    --ternaryColor: #9b9898d7;
    --accentColor: #1b849b;

    --shadowColor: #9b9898d7;
}

html[data-theme="dark"] {
    --titleText: white;
    --mainText: #cdcdcd;
    --accentText: #2badc7;

    --mainColor: #2c3131;
    --secondaryColor: #1f2525;
    --ternaryColor: #161919e5;
    --accentColor: #2badc7;

    --shadowColor: #161919e5;
}

*, *::before, *::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background-color: var(--mainColor);
}

img {
    max-width: 100%;
    display: block;
}

.intro-title:hover {
    animation: reverse 1s;
}

/**************
***************
    TYPOGRAPHY
***************
***************/
h1, h2, h3, h4, h5, h6 {
    color: var(--titleText);
    font-family: 'Roboto', monospace;
    font-weight: 400;
}

h3 {
    padding-bottom: 1em;
}

p { 
    color: var(--mainText); 
    /*text-align: justify;*/
}

.accent-color { 
    color: var(--accentText); 
}

.bolder {
    font-weight: 900;
}

.bold {
    font-weight: 600;
}

.accent-text {
    font-family: 'Cousine', monospace;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 1rem;
}

.intro-title { 
    font-size: 2rem; 
    padding: 0;
    margin: 0;
}

.section-title { 
    font-size: 1.7rem; 
    font-weight: 400;
}

.logo { 
    font-size: 2rem; 
    font-weight: 900;
    color: var(--titleText);
}

.home {
    color: var(--titleText);
    text-decoration: none;
    cursor: pointer;
}

/* medium devices */
@media (min-width: 615px) and (max-width: 979px) {
    .intro-title {
        font-size: 3rem;
    }

    .section-title {
        font-size: 2rem;
    }
}

/* big devices */
@media (min-width: 980px) {
    .intro-title {
        font-size: 4rem;
    }

    .section-title {
        font-size: 2rem;
    }
}

/* navigation bar minimized */
@media (max-width: 700px) {
    .nav-link {
        font-size: 1rem;
    }
}

.container-footer { 
    background: var(--ternaryColor);
}

/**************
***************
    LAYOUT
***************
***************/

/***************
    sections
***************/
section {
    width: 80%; 
    max-width: 1200px; 
    margin: 0 auto; 
    height: auto;
    padding-top: 6em;
    padding-bottom: 2em;;
}

.intro {
    padding-top: 0;
    padding-bottom: 0;
}

.contact {
    padding-bottom: 8em;
}

.section-title {
    position: relative;
    margin-bottom: 1.8em;
    padding-bottom: .2em;
}

.about-title,
.experience-title,
.passion-title,
.work-title,
.contact-title {
    text-align: left;
}

.work-title,
.contact-title {
    text-align: center;
}

.section-title {
    border-bottom: .01em solid var(--titleText);
}

/* big devices */
@media (min-width: 980px) {
    .about-body,
    .experience-body {
        padding-left: 5em;
    }

    .passion-body {
        padding-right: 5em;
    }

    .about-title,
    .experience-title {
        margin-left: 2.5em;
    }

    .passion-title {
        margin-right: 2.5em;
    }
}

/***************
    navigation bar
***************/
.nav-icon {
    display: none;
    cursor: pointer;
    z-index: 3;
}

.cancel-btn {
    position: absolute;
    right: 2em;
}

.nav {
    position: fixed;
    background: transparent;
    z-index: 2;
    width: 100%;
    color: white;
    padding: 2em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
}

/* small height
to avoid overlap of nav and intro-title */
@media (max-height: 510px) {
    .nav {
        background: var(--mainColor);
    }
}

.nav.sticky {
    background: var(--ternaryColor);
    padding: 1em 2em;
    transition: all 0.3s ease;
}

.logo {
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    border: .01em solid var(--titleText);
    padding: .1em .4em;
    border-radius: .1em;
    border-style: solid;
}

.nav-list {
    margin: 0;
    padding: 0;
    display: inline-flex;
}

.nav-list.active {
    right: 0%;
}

.nav-list-item {
    list-style: none;
    padding-left: 2em;
}

.nav-link {
    text-decoration: none;
    color: var(--titleText);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accentText);
    transition: all 0.3s ease;
}

/* navigation bar minimized */
@media (max-width: 700px) {
    body { overflow: auto; }
    body.disable-scroll { overflow: hidden; }

    main.blur { filter: blur(.2em); }

    .menu-btn { display: block; }
    .menu-btn.hide { display: none; }

    .cancel-btn { display: none; }
    .cancel-btn.show { display: block; }

    .nav-list {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 100%;
        max-width: 65%;
        background: var(--ternaryColor);
        display: flex;
        flex-direction: column;
        padding: 6em 0;
        align-items: center;
        transition: all 0.3s ease;
    }

    .nav-list-item {
        padding-left: 0;
        padding-bottom: 3em;
    }
}

/* navigation bar minimized with landscape orientation */
@media (max-height: 700px) and (orientation: landscape) {
    .nav-list.scroll {
        overflow-y: scroll;
    }
}


/***************
    intro
***************/
.intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container-intro {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

/* small height
to avoid overlap of nav and intro-title */
@media (max-height: 510px) {
    .intro {
        height: auto;
    }

    .container-intro {
        margin: 6.5em 0;
        top: 0;
        transform: translate(0,0);
    }
}

.button {
    display: inline-block;
    background: transparent;
    color: var(--accentText);
    border: .01em solid var(--accentText);
    border-radius: .2em;
    text-align: center;
    text-decoration: none;
    padding: 1em;
    margin: 1em;
    margin-left: 0;
    margin-bottom: 0;
    border-style: solid;
}

.button:hover {
    background-color: var(--accentText);
    color: var(--mainColor);
    transition: all 0.3s ease;
}

/* checkbox */
.intro-toggle-container {
    margin-top: 1.5em;
    margin-bottom: 2em;
}

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    width: 3em;
    height: 1.7em;
    background: var(--mainText);
    float: left;
    border-radius: 1em;
    position: relative;
}

label:after {
    content: '';
    position: absolute;
    top: .2em;
    left: .2em;
    width: 1.3em;
    height: 1.3em;
    background: white;
    border-radius: 50%;
    transition: 0.3s;
}

input:checked + label {
    background-color: var(--ternaryColor);
}

input:checked + label:after {
    left: calc(100% -.2em);
    transform: translateX(100%);
}

label:active:after {
    width: 1.3em;
}

.fa-moon {
    color: yellow;
    position: relative;
    top: .25em;
    left: .3em;
}

.fa-sun {
    color: rgb(255, 123, 0);
    position: relative;
    top: .25em;
    left: -.5em;
    transform: translateX(100%);
}

/***************
    about
***************/
.about-body {
    display: flex;
    flex-direction: column;
}

.about-body-img {
    order: 1;
}

.about-body-text {
    order: 2;
}

.about-body-text p:first-child {
    margin: 0;
}

.about-img {
    padding: 0 2em 2em 2em;
    border-radius: .1em;
    width: 100%;
    object-fit: cover;
    /*filter: grayscale(100%);*/
}

/* medium devices and big devices */
@media (min-width: 615px) {
    .about-body {
        flex-direction: row;
        justify-content: space-between;
    }

    .about-body-text {
        order: 1;
        width: 65%;
    }

    .about-body-img {
        order: 2;
        width: 30%;
    }

    .about-img {
        width: 100%;
        padding: 0;
        object-fit: cover;
    }
}

/***************
    passion
***************/
.passion-items {
    display: flex;
    flex-direction: column;
}

.passion-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.passion-item-title {
    order:  1;
    margin-block-start: 0;
}

.passion-item-icon {
    order: 2;
    padding: 2em;
    border-radius: 50%;
    color: var(--mainText);
    text-align: center;
    width: 11em;
    height: 11em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1em;
    background: var(--secondaryColor);
}

.passion-item-icon-secondary {
    display: none;
}

.passion-item-icon:hover .passion-item-icon-primary {
    display: none;
}

.passion-item-icon:hover .passion-item-icon-secondary {
    display: inline;
}

.passion-item-p {
    order: 3;
    margin-top: 1em;
    text-align: center;
}

/* medium devices and big devices */
@media (min-width: 615px) {
    .passion-items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .passion-item {
        width: 30%;
    }
}

/***************
    experience
***************/

.experience-technologies-title {
    margin-top: 0;
    text-align: center;
}

.experience-technologies-images-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.experience-technologies-images-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 2em;
}

.experience-technology {
    max-width: 4em;
}

/* medium devices */
@media (min-width: 615px) and (max-width: 979px) {
    .experience-technologies-images-grid {
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: auto;
    }
    
    .experience-technology {
        max-width: 4em;
    }
}

/* big devices */
@media (min-width: 980px) {
    .experience-technologies-title {
        text-align: left;
    }

    .experience-technologies-images-flex {
        justify-content: space-between;
    }

    .experience-technologies-images-grid {
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: auto;
    }
    
    .experience-technology {
        max-width: 4em;
    }
}

/***************
    work
***************/
.work-body-title {
    text-align: center;
}

.work-projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 2em;
}

.work-project-link {
    list-style: none;
    text-decoration: none;
}

.work-project {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    background: var(--secondaryColor);
    border-radius: .2em;
    padding: 2em;
    transition: all 0.3s ease;
    min-height: 21em;
}

.work-project:hover {
    transform: translate(0, -.5em);
    box-shadow: 0 .5em .5em 0 var(--shadowColor);
    transition: all 0.3s ease;
}

.work-project-title {
    font-size: 1.2rem;
    padding-bottom: 0;
    margin-top: 1.5em;
}

.work-project-icon {
    color: var(--accentColor);
}

.work-project-technologies-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-right: 1em;
    padding: 0;
    margin-bottom: 0;
}

.work-project-technologies-list-item {
    padding-right: 1em;
}

.work-project-more {
    display: none;
    visibility: hidden;
    transition: all 0.3s ease;
}

.work-container-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-work-show {
    display: block;
    margin-top: 0;
    cursor: pointer;
    margin-right: 0;
}

.button-work-less {
    display: none;
    margin-top: 2em;
    cursor: pointer;
    margin-right: 0;
}

/* medium devices */
@media (min-width: 615px) and (max-width: 979px) {
    .work-projects {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
}

/* big devices */
@media (min-width: 980px) {
    .work-projects {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
}

/***************
    contact
***************/
.contact-body {
    text-align: center;
}

.button-contact {
    margin-right: 0;
}


/***************
    footer
***************/
.container-footer {
    text-align: center;
    padding: 3em 1em .5em 1em;
}

.footer-p {
    color: var(--titleText);
    padding-top: 1em;
    font-size: .8rem;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-link {
    color: var(--titleText);
    margin: 0 .5em;
}