/**************
***************
    DEVICES
***************
***************/
/*
    small devices => max-width: 614px
    medium devices => min-width: 615px, max-width: 979px
    big devices => min-width: 980px

    navigation bar minimized => max-width: 700px
    small height => max-width: 510px
*/

:root {
    --titleText: white;
    --mainText: #8b8b8c;
    --secondaryText: #1a1a1a;
    --accentText: #ffe600;

    --mainColor: #1a1a1a;
    --secondaryColor: #161616;
    --accentColor: #ffe600;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background-color: var(--mainColor);
}

img {
    max-width: 100%;
    display: block;
}

.intro-title:hover {
    animation: reverse 1s;
}

/**************
***************
    TYPOGRAPHY
***************
***************/
h1, h2, h3, h4, h5, h6 {
    color: var(--titleText);
    font-family: 'Roboto', monospace;
    font-weight: 400;
}

p { 
    color: var(--mainText); 
}

.accent { 
    color: var(--accentText); 
}

.bold {
    font-weight: 900;
}


.intro-title { 
    font-size: 2rem; 
    padding: 0;
    margin: 0;
}

.section-title { 
    font-size: 1.5rem; 
}

.logo { 
    font-size: 2rem; 
    font-weight: 900;
    color: var(--accentText);
}

/* medium devices */
@media (min-width: 615px) and (max-width: 979px) {
    .intro-title {
        font-size: 3rem;
    }

    .section-title {
        font-size: 2rem;
    }
}

/* big devices */
@media (min-width: 980px) {
    .intro-title {
        font-size: 4rem;
    }

    .section-title {
        font-size: 2.5rem;
    }
}

.nav-link {
    font-size: 1rem;
}

/* navigation bar minimized */
@media (max-width: 700px) {
    .nav-link {
        font-size: 1.2rem;
    }
}


/**************
***************
    LAYOUT
***************
***************/
.intro-subtitle {
    padding-bottom: 2em;
}

/***************
    sections
***************/
section {
    width: 80%; 
    max-width: 1200px; 
    margin: 0 auto; 
    height: auto;
}

.about, 
.passion,
.experience {
    padding-bottom: 10em;
}

.section-title {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 2em;
}

.about-title,
.experience-title {
    text-align: right;
}

.passion-title, 
.work-title {
    text-align: left;
}

.section-title:before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: .01em;
    top: 50%;
    background: var(--mainText);
    z-index: -2;
}

.about-title:before,
.experience-title:before {
    right: 0;
}

.passion-title:before, 
.work-title:before {
    left: 0;
}

.line { background: var(--mainColor); }

.about-title .line,
.experience-title .line {
    padding-left: 1em;
}

.passion-title .line, 
.work-title .line {
    padding-right: 1em;
}

/* big devices */
@media (min-width: 980px) {
    .about-body,
    .experience-body {
        padding-right: 5em;
    }

    .passion-body,
    .work-body {
        padding-left: 5em;
    }
}

/***************
    navigation bar
***************/
.logo-icon {
    display: none;
    cursor: pointer;
    z-index: 3;
}

.cancel-btn {
    position: absolute;
    right: 2em;
}

.nav {
    position: fixed;
    background: var(--mainColor);
    z-index: 2;
    width: 100%;
    color: white;
    padding: 2em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav.sticky {
    background: var(--secondaryColor);
    padding: 1em 2em;
}

.logo {
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    border: .01em solid var(--accentText);
    padding: .1em .4em;
    border-radius: .1em;
    border-style: dashed dashed solid solid;
}

.nav-list {
    margin: 0;
    padding: 0;
    display: inline-flex;
}

.nav-list.active {
    right: 0%;
    
}

.nav-list-item {
    list-style: none;
    padding-left: 2em;
}

.nav-link {
    text-decoration: none;
    color: var(--titleText);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accentText);
}

/* navigation bar minimized */
@media (max-width: 700px) {
    body { overflow: auto; }
    body.disable-scroll { overflow: hidden; }

    main.blur { filter: blur(.2em); }

    .menu-btn { display: block; }
    .menu-btn.hide { display: none; }

    .cancel-btn { display: none; }
    .cancel-btn.show { display: block; }

    .nav-list {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 100%;
        max-width: 65%;
        background: var(--secondaryColor);
        display: flex;
        flex-direction: column;
        padding: 6em 0;
        align-items: center;
        transition: all 0.3s ease;
    }

    .nav-list-item {
        padding-left: 0;
        padding-bottom: 3em;
    }
}

/* navigation bar minimized with landscape orientation */
@media (max-height: 700px) and (orientation: landscape) {
    .nav-list.scroll {
        overflow-y: scroll;
    }
}

/***************
    intro
***************/
.intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container-intro {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

/* small height
to avoid overlap of nav and intro-title */
@media (max-height: 510px) {
    .intro {
        height: auto;
    }

    .container-intro {
        margin: 6.5em 0;
        top: 0;
        transform: translate(0,0);
    }
}

.button {
    display: inline-block;
    background: transparent;
    color: var(--accentText);
    border: .01em solid var(--accentText);
    border-radius: .2em;
    text-align: center;
    text-decoration: none;
    padding: 1em;
    margin: 1em;
    margin-left: 0;
    border-style: dashed dashed solid solid;
}

.button:hover {
    background-color: var(--accentText);
    color: var(--secondaryText);
}

/***************
    about
***************/
.about-body {
    display: flex;
    flex-direction: column;
}

.about-body-img {
    order: 1;
}

.about-body-text {
    order: 2;
}

.about-body-text p:first-child {
    margin: 0;
}

.about-img {
    padding: 0 2em 2em 2em;
    border-radius: .1em;
    width: 100%;
    object-fit: cover;
    /*filter: grayscale(100%);*/
}

/* medium devices and big devices */
@media (min-width: 615px) {
    .about-body {
        flex-direction: row;
        justify-content: space-between;
    }

    .about-body-text {
        order: 1;
        width: 60%;
    }

    .about-body-img {
        order: 2;
        width: 30%;
    }

    .about-img {
        width: 100%;
        padding: 0;
        object-fit: cover;
    }
}

/***************
    passion
***************/
.passion-items {
    display: flex;
    flex-direction: column;
}

.passion-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.passion-item-title {
    order:  1;
    margin-block-start: 0;
}

.passion-item-icon {
    order: 2;
    padding: 2em;
    background-color: yellow;
    width: 10.5em;
    text-align: center;
}

.passion-item-p {
    order: 3;
}

/***************
    experience
***************/

/***************
    work
***************/
.work-projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1em;
}

.work-project {
    display: flex; 
    flex-direction: column;
    background: blue;
    padding: 2em;
    border-radius: .1em;
}

.work-project-icon {
    color: var(--accentColor);
}

.work-project-technologies-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-right: 1em;
    padding: 0;
}

.work-project-technologies-list-item {
    color: var(--titleText);
    padding-right: 1em;
}


/* medium devices */
@media (min-width: 615px) and (max-width: 979px) {
    .work-projects {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

/* big devices */
@media (min-width: 980px) {
    .work-projects {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}