:root {
    --titleText: white;
    --mainText: #8b8b8c;
    --secondaryText: #1a1a1a;
    --accentText: #ffe600;

    --mainColor: #1a1a1a;
    --secondaryColor: #161616;
    --accentColor: #ffe600;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    background-color: var(--mainColor);
}

img {
    max-width: 100%;
    display: block;
}


/* ==========
Typography
========== */
h1, h2, h3, h4, h5, h6 {
    color: var(--titleText);
    font-family: 'Roboto', monospace;
}

.accent { 
    color: var(--accentText); 
    font-weight: 900;
}

p { color: var(--mainText); }

.intro-title { 
    font-size: 3rem; 
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.intro-subtitle {
    padding-bottom: 2em;
}

@media (max-width: 415px),
(max-height: 415px) and (orientation: landscape) {
    .intro-title {
        font-size: 2rem;
    }

    .intro-subtitle {
        padding-bottom: 0;
    }
}

.section-title { 
    font-size: 2rem; 
    font-weight: 400;
}

.logo { 
    font-size: 2rem; 
    font-weight: 900;
    color: var(--accentText);
}


@media (max-width: 699px) {
    .nav-link {
        font-size: 1.2rem;
    }
}

/* ==========
Layout
========== */
/* Sections */ 
section {
    width: 80%; 
    max-width: 1200px; 
    margin: 0 auto; 
    height: auto;
}

.intro {
    height: 100vh;
}

.container-intro {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

@media (max-height: 415px) and (orientation: landscape) {
    .intro {
        height: auto;
    }

    .container-intro {
        margin-top: 6.5em;
        top: 0;
        transform: translate(0,0);
    }
}


.section-title {
    position: relative;
}

.about-title,
.experience-title {
    text-align: left;
}

.passion-title, 
.work-title {
    text-align: right;
}

.section-title:before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: .01em;
    top: 50%;
    background: var(--mainText);
    z-index: -2;
}

.about-title:before,
.experience-title:before {
    left: 0;
}

.passion-title:before, 
.work-title:before {
    right: 0;
}

.line { background: var(--mainColor); }

.about-title .line,
.experience-title .line {
    padding-right: 1em;
}

.passion-title .line, 
.work-title .line {
    padding-left: 1em;
}


/* navigation bar */
.icon {
    display: none;
    cursor: pointer;
    z-index: 3;
}

.cancel-btn {
    position: absolute;
    right: 2em;
}

.nav {
    position: fixed;
    background: var(--mainColor);
    z-index: 2;
    width: 100%;
    color: white;
    padding: 2em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.nav.sticky {
    background: var(--secondaryColor);
    padding: 1em 2em;
}

.logo {
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    border: .01em solid var(--accentText);
    padding: .1em .4em;
    border-radius: .1em;
    border-style: dashed dashed solid solid;
}

.nav-list {
    margin: 0;
    padding: 0;
    display: inline-flex;
}

.nav-list.active {
    right: 0%;
    
}

.nav-list-item {
    list-style: none;
    padding-left: 2em;
}

.nav-link {
    text-decoration: none;
    color: var(--titleText);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accentText);
}

@media (max-width: 699px) {
    body { overflow: auto; }
    body.disable-scroll { overflow: hidden; }

    main.blur { filter: blur(.2em); }

    .menu-btn { display: block; }
    .menu-btn.hide { display: none; }

    .cancel-btn { display: none; }
    .cancel-btn.show { display: block; }

    .nav-list {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 100%;
        max-width: 65%;
        background: var(--secondaryColor);
        display: flex;
        flex-direction: column;
        padding: 6em 0;
        align-items: center;
        transition: all 0.3s ease;
    }

    .nav-list-item {
        padding-left: 0;
        padding-bottom: 3em;
    }
}

@media (max-height: 699px) and (orientation: landscape) {
    .nav-list {
        overflow-y: scroll;
    }
}


/* intro */
.intro {
    display: flex;
    flex-direction: column;
}

.button {
    display: inline-block;
    background: transparent;
    color: var(--accentText);
    border: .01em solid var(--accentText);
    border-radius: .2em;
    padding: .9em;
    text-align: center;
    text-decoration: none;
    margin: .5em;
    margin-left: 0;
    border-style: dashed dashed solid solid;
}

.button:hover {
    background-color: var(--accentText);
    color: var(--secondaryText);
}

/* about */
